<div class="row">
    <div class="span12" ng-include="" src="'views/menu.html'"></div>
</div>
<div class="row">
    <div class="span12">
        <ul class="thumbnails">
            <li class="span8" ng-show="showBday">
            <div class="thumbnail flashcard">
                <h3>
                    <img src="images/emprendedor.png">
                    ¡Feliz cumpleaños!
                </h3>
                <div style="text-align: center">
                    <img style="width: 80%" ng-src="{{baseUrl}}/images/logos/bd.jpg" />
                </div>
            </div>
            </li>
 
            </li>
            <li class="span4">
            <div class="thumbnail flashcard">
                <h3>
                    <img src="images/plan.png">
                    Catálogos
                </h3>
                <ul>
                   
                    <a href="{{baseUrl}}/app/state">Estados</a>
                    </li>
                    <li>
                    <a href="{{baseUrl}}/app/municipality">Municipios</a>
                    </li>
                    <li>
                    <a href="{{baseUrl}}/app/mailingSettlementType">Tipos de asentamiento</a>
                    </li>
                    <li>
                    <a href="{{baseUrl}}/app/mailingSettlement">Asentamientos</a>
                    </li>
                    <li>
                    <a href="{{baseUrl}}/app/mailingPostalCode">Códigos postales</a>
                    </li>
                    <li>
                    <a href="{{baseUrl}}/app/appConfig">Parámetros de Configuración</a>
                    </li>
                    <li>
                        <a href="{{baseUrl}}/app/role">Roles</a>
                    </li>
                    <li>
                      <a href="{{baseUrl}}/app/messageLegend">Leyendas</a>
                    </li>
                    <li>
                      <a href="{{baseUrl}}/app/eventMessage">Mensajes de Avisos</a>
                    </li>
                    <li>
                      <a href="{{baseUrl}}/app/task">Tareas</a>
                    </li>
                </ul>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail flashcard">
                <h3>
                    <img src="images/plan.png">
                    Errores
                </h3>
                <ul>
                    <li>
                    <a href="#/errors">Tipos de errores</a>
                    </li>
                    <li>
                    <a href="{{baseUrl}}/app/errorLog">Bitácora de errores</a>
                    </li>
                </ul>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail flashcard">
                <h3>
                    <img src="images/plan.png">
                    Administracion
                </h3>
                <ul>
                    <li>
                        <a href="{{baseUrl}}/app/script">Scripts</a>
                    </li>
                    <li>
                      <a href="#/runScripts">Run Scripts</a>
                    </li>
                    <li>
                      <a href="#/runScriptsBusqueda">Run Scripts Busqueda</a>
                    </li>
                    <li>
                      <a href="#/scripting">Scripting</a>
                    </li>
                    <li>
                      <a href="#/db">Consola de BD</a>
                    </li>
                    <li>
                      <a href="#/batchProcessBoard">Tablero de Procesos</a>
                    </li>
                    <li>
                      <a href="#/administraReportes">Reportes</a>
                    </li>
                    <li>
                      <a href="#/administrarNotificaciones">Notificaciones</a>
                    </li>
                </ul>
            </div>
            </li>
        </ul>
    </div>
</div>