<div class="row" ng-show="!validToken">
    <div class="span12" style="min-height: 400px">
        <h2>Ocurrió un error</h2>
        <p>
            Parece que la liga para recuperar tu contraseña no es válida, intenta volver a recuperar tu password
            <a href="#/recover">aquí</a>
        </p>
    </div>
</div>
<div class="row" ng-show="validToken">
    <div class="span12">
        <h2>Recuperar contraseña</h2>
        <form name="recoverForm">
            <fieldset>
                <legend>Escribe tu contraseña nueva</legend>
                <div class="control-group" ng-class="{'error': recoverForm.password.$error.minlength}">
                    <label class="control-label" for="password">Contraseña *</label>
                    <div class="controls">
                        <input name="password" type="password" ng-model="password" required="required" ng-minlength="8">
                                                    <span class="help-inline" ng-show="recoverForm.password.$error.required">
                                                        Este campo es obligatorio.
                                                    </span>
                                                    <span class="help-inline" ng-show="recoverForm.password.$error.minlength">
                                                        La contraseña debe de ser de al menos 8 caracteres.
                                                    </span>
                    </div>
                </div>
                <div class="control-group" ng-class="{'error': password != confirmPassword}">
                    <label class="control-label" for="password">Confirmar Contraseña *</label>
                    <div class="controls">
                        <input name="confirmPassword" type="password" ng-model="confirmPassword" required="required">
                                                    <span class="help-inline" ng-show="password != confirmPassword">
                                                        Las contraseñas no coinciden.
                                                    </span>
                    </div>
                </div>
                <button ng-click="changePassword()" type="submit" class="btn" ng-disabled="disableSubmit || recoverForm.$invalid || password != confirmPassword">Recuperar</button>
            </fieldset>
        </form>
    </div>
    <div modal="showCorrect" close="closeCorrect()" options="opts">
        <div class="modal-header">
            <h4>Contraseña modificada!</h4>
        </div>
        <div class="modal-body">
            Has cambiado tu contraseña, ahora te redirigiremos a la pantalla de acceso.
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="closeCorrect()">Ok</button>
        </div>
    </div>
    <div modal="showIncorrect" close="closeIncorrect()" options="opts">
        <div class="modal-header">
            <h4>Ocurrió un problema</h4>
        </div>
        <div class="modal-body">
            Ocurrió un problema al cambiar la contraseña, intenta de nuevo más tarde.
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="closeIncorrect()">Ok</button>
        </div>
    </div>
</div>