/* Will be compiled down to a single stylesheet with your sass files */
h1, h2, h3, h4 {
    color: black;
}
.btn{
    display: none;
}
#guardar{
    display: none;
}
.nav {
    display: none;
}
.logos-bar{
    display: none;
}
nav nav-pills pull-right{
    display: none;
}